<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Model Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Prédiction avec le modèle Titanic</h1>
        <button id="predictButton" class="predict-button">Faire une prédiction</button>
        <div id="predictionResult" class="prediction-result"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
